@use '../abstract' as *;

@keyframes phone-wiggle {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(15deg);
  }
}

@keyframes arrow-move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(3px);
  }
}

.button {
  @include font-uppercase;

  display: flex;
  align-items: center;
  column-gap: 1px;
  color: var(--color-accent-orange);
  transition-duration: var(--transition-duration);

  &--contact-us {
    &::before {
      @include square(24px);

      content: '';
      background: url('../images/icons/icon-phone.svg') center/contain no-repeat;
    }

    @include hover {
      text-shadow: 0 0 8px;

      &::before {
        animation: phone-wiggle var(--transition-duration) ease-in-out infinite alternate;
      }
    }
  }
}
