@use '../abstract' as *;

@keyframes phone-wiggle {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(15deg);
  }
}

@keyframes arrow-move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(3px);
  }
}

.button {
  @include font-uppercase;
  @include flex-center(true);

  padding-block: 8px;
  color: var(--color-accent-orange);

  &--contact-us {
    column-gap: 1px;

    &::before {
      @include square(24px);

      content: '';
      background: url('../images/icons/icon-phone.svg') center/contain no-repeat;
    }

    @include hover {
      text-shadow: var(--shadow);

      &::before {
        animation: phone-wiggle var(--transition-duration) ease-in-out infinite alternate;
      }
    }

    &:focus {
      @include focus-button;
    }
  }

  &--learn-more {
    padding-block: 20px;
    border: var(--border);
    border-radius: var(--border-radius);

    @include hover {
      color: var(--color-white);
      background-color: var(--color-accent-orange);
    }

    &:focus {
      color: var(--color-white);
      background-color: var(--color-dark-orange);
    }
  }

  &--order {
    column-gap: 4px;

    @include hover {
      color: var(--color-light-orange);

      svg {
        fill: var(--color-light-orange);
        animation: arrow-move var(--transition-duration) ease-in-out infinite alternate;
      }
    }

    &:focus {
      @include focus-button;
    }
  }
}
