@use '../abstract' as *;

.header {
  --headerPaddingY: 16px;
  --headerPaddingX: 16px;

  padding: var(--headerPaddingY) var(--headerPaddingX);

  @include desktop {
    --headerPaddingX: 32px;
    --headerPaddingY: 28px;

    padding: var(--headerPaddingY) var(--headerPaddingX) 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 64px;
  }

  &__menu {
    margin-left: auto;

    &-list {
      display: flex;
      align-items: center;
      column-gap: 64px;
    }

    &-link {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 60px;

      &::after {
        content: '';
        position: absolute;
        bottom: 8px;
        width: 100%;
        height: 2px;
        background-color: currentColor;

        scale: 0;
        transition-duration: inherit;
      }

      @include hover {
        &::after {
          scale: 1;
        }
      }
    }
  }
}
