@use '../abstract' as *;

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  height: 100vh;
  background-color: var(--color-light-blue);
  opacity: 0;
  transform: scale(0);

  transition-duration: var(--transition-duration);
  pointer-events: none;

  &:target {
    opacity: 1;
    translate: 0;
    transform: scale(1);
    pointer-events: all;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 132px;
  }
}
