@use '../abstract/media' as *;

:root {
  --color-dark-orange: #B2341A;
  --color-accent-orange: #F9512E;
  --color-light-orange: #FBA28F;
  --color-light-pink: #FFEEFC;
  --color-light-blue: #EEF7FF;
  --color-black: #1C1A26;
  --color-grey: #7F8096;
  --color-white: #FFFFFF;

  --page-bg: var(--color-light-blue);
  --title-color: var(--color-black);
  --big-font-color: var(--color-black);

  --border: 1px solid var(--color-accent-orange);
  --border-radius: 32px;
  --border-radius-small: 8px;

  --shadow: 0 0 8px var(--color-accent-orange);

  --font-family-base: Inter, sans-serif;

  --container-max-width: 100%;
  --container-padding-x: 16px;

  --footer-small-title-MB: 16px;
  --footer-block-MT: 40px;

  @include tablet {
    --container-padding-x: 44px;
  }

  @include desktop-xl {
    --container-max-width: 1250px;
    --container-padding-x: 34px;
  }

  --transition-duration: 0.3s;
}
