@use '../abstract' as *;

body {
  @include font-body;

  color: var(--color-black);
  background-color: var(--color-light-blue);

  &:has(.menu:target) {
    overflow: hidden;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  @include reset-link;
}

button {
  @include reset-button;
}

h4,
.h4 {
  @include font-uppercase;

  color: var(--color-grey);
  font-size: 16px;
}
